@import './teachers-dashboard-list';

.teachers__dashboard {
  
  &-inner {
    position: relative;
    padding: 35px 0;

    @include use-container(10px);
    @include horizontal-line();
    
    @include use-media-query(768px) {
  
      @include use-container(100px);
    }
  }

  &-header {
    padding-bottom: 15px;
      
    @include use-media-query(768px) {
      padding-bottom: 35px;
    }
  }

  &-filters {
    padding-bottom: 10px;

    @include use-media-query(768px) {
      padding-bottom: 30px;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      
      @include use-media-query(768px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
      }
    }

    &__filter {
      padding-bottom: 10px;

      @include use-media-query(768px) {
        border-right: 1px dotted $gray;
        padding: 0 20px;
        min-height: 100%;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: 0;
      }

      label {
        min-height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        cursor: pointer;

        @include use-media-query(768px) {
          flex-direction: row;
          align-items: center;
        }

        &[for="teacher--has-photo"],
        &[for="is-favorites"] {
          flex-direction: row;
        }

        &:hover span {
          color: $brand-secondary-color;
        }

        span {
          color: $light-gray;
          font-family: 'PT Sans';
          padding-right: 5px;
          
          @include use-media-query(768px) {
            padding-right: 15px;          
          }
        }

        select {
          padding: 5px;
        }

        input[type="checkbox"] + span {
          padding-right: 0;
        }
      }
    }
  }
  
  &-filter__inner {
    display: flex;
    align-items: center;

    min-height: 100%;
  }
}