.teachers__dashboard {
  &-list {
    padding-top: 10px;

    @include use-media-query(768px) {
      padding-top: 30px;
    }

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      @include use-media-query(768px) {
        row-gap: 40px;
        grid-template-columns: repeat(5, 1fr);
      }
    }

    &__teacher {
      position: relative;

      &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.teachers__teacher {
  text-decoration: none;
  color: black;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 145px;
  justify-self: center;

  @include use-media-query(768px) {
    display: block;
    width: 150px;
  }

  &-avatar {
    width: 145px;
    height: 145px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid rgba($brand-main-color, 0.7);
    border-radius: 50%;

    overflow: hidden;
    transition: border-color 0.3s ease;
    
    @include use-media-query(768px) {
      width: 150px;
      height: 150px;
    }

    img {
      margin: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 50%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &:hover &-avatar {
    border-color: $hover-brand-main-color;

    img {
      transform: scale(1.2);
    }
  }

  &-info {
    font-family: 'PT Sans', 'Arial';
    padding-top: 15px;

    &__fullname {
      font-size: 24px;
      font-weight: 500;

      padding-bottom: 10px;
    }

    &__profession {
      color: $light-gray;
      padding-bottom: 10px;
    }

    &__country {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  &--is-favorite {
    position: absolute;
    top: 10px;
    right: 0;

    svg {
      width: 34px;
      height: 34px;

      fill: rgb(236, 236, 2);
    }
  }

  &-initials {

    @include use-media-query(768px) {
      padding-bottom: 15px;
    }

    &__inner {
      width: 145px;
      height: 145px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-family: 'PT Sans', 'Arial';
      font-size: 28px;
      font-weight: 700;
      color: $brand-main-color;
  
      border-radius: 50%;
      border: 4px solid rgba($brand-main-color, 0.7);
    
      transition: border-color 0.3s ease, color 0.3s ease;

      @include use-media-query(768px) {
        width: 150px;
        height: 150px;
      }
    }
  }

  &:hover &-initials {
    &__inner {
      color: $hover-brand-main-color;
      border-color: $hover-brand-main-color;
    }
  }
}