.footer {

  &__inner {
    position: relative;
    padding-bottom: 15px;
    
    @include horizontal-line();
    @include use-container(10px);
    
    @include use-media-query(768px) {
      @include use-container(100px);
      padding-bottom: 35px;
    }
  }

  &__description {
    padding-top: 20px;

    @include use-media-query(768px) {
      padding-top: 35px;
    }

    p {
      padding-bottom: 12px;
      font-family: 'PT Sans';

      text-align: left;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 15px;

    @include use-media-query(768px) {
      padding-top: 20px;
    }

    nav {
      flex-grow: 1;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;

      @include use-media-query(768px) {
        display: block;
      }

      li {

        @include use-media-query(768px) {
          padding: 0 20px;
          float: left;
        }

        a {
          font-family: "PT Sans";
          text-decoration: none;
          color: $brand-main-color;
          font-size: 18px;
          
          transition: color 0.3s ease;

          @include use-media-query(768px) {
            font-size: 20px;
          }

          &:hover {
            color: $hover-brand-main-color;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &-button {
      
      button {
        font-size: 16px;
        white-space: nowrap;

        @include use-media-query(768px) {
          font-size: 18px;
          white-space: normal;
        }
      }
    }
  }
}