@import './header-mobile';

.header {
  
  &.header__desktop {
    display: none;

    @include use-media-query(768px) {
      display: block
    }
  }

  &__inner {
    @include use-media-query(768px) {
      @include use-container(100px);
      
      display: flex;
      padding-top: 40px;
      flex-direction: column;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;

    @include use-media-query(768px) {
      flex-direction: row;
    }
  }

  &__top, 
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    @include use-media-query(768px) {
      padding: 55px 0;
    }
  }

  &__logo {
    
    h1 {
      margin: 0;
      color: white;
      font-weight: bold;
      font-family: 'Times New Roman';

      text-shadow: 0 -1px 1px red, 1px 1px 1px black;

      @include use-media-query(768px) {
        font-size: 40px;
      }
    }
  }

  &__find-teacher {
    display: flex;
    justify-content: end;
    flex-grow: 1;

    &__input {
      padding-right: 10px;

      @include use-media-query(768px) {
        padding-right: 20px;
      }

      input {
        width: 100%;
        border: 1px solid $gray;
        padding: 15px 10px;
        font-size: 16px;
        color: $gray;

        transition: padding 0.3s ease;

        &::placeholder {
          color: $gray;
        }

        @include use-media-query(768px) {
          &:hover,
          &:focus {
            padding-right: 150px;
          }
        }
      }
    }
  }

  &__navigation {
    ul {
      li {
        padding: 0 20px;
        float: left;

        a {
          font-family: "PT Sans";
          font-weight: bold;
          text-decoration: none;
          font-size: 18px;
          color: $brand-main-color;

          transition: color 0.3s ease;

          &:hover {
            color: $hover-brand-main-color;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}