.header {
  &.header__mobile {
    position: fixed;
    left: 0;
    right: 0;

    z-index: 50;

    @include use-media-query(768px) {
      display: none;
    }

    &--active {

      .header__top-bar {
        box-shadow: none;

        .header__hamburger {

          span {

            &:first-child {
              transform: rotate(45deg);
              top: 11px;
            }

            &:last-child {
              bottom: 11px;
              transform: rotate(-45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }
          }
        }
      }

      .header__navigation {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__mobile &__top-bar {
    background:white;
    box-shadow: 0 0 4px 1px rgba(black, 0.2);

    transition: box-shadow 0.3s ease;
    
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include use-container(10px);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .header__logo {
      text-align: left;
    }

    .header__hamburger {
      position: relative;

      width: 24px;
      height: 24px;

      span {
        display: block;
        content: '';
        background-color: black;
        
        width: 100%;
        height: 2px;
        
        position: absolute;

        transition: all 0.3s ease;

        &:first-child {
          top: 2px;
        }

        &:nth-child(2) {
          top: 11px;
        }

        &:last-child {
          bottom: 2px;
        }
      }
    }
  }

  &__mobile &__navigation {
    position: absolute;
    right: 0;
    left: 0;

    min-height: calc(100vh - 50px);

    background-color: white;

    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: translateX(-100%);

    transition: opacity 0.3s ease, transform 0.3s ease;
    
    &-inner {
      flex-grow: 1;      

      display: flex;
      flex-direction: column;
    }

    &-search {
      background-color: rgba($light-gray, 0.3);

      &__inner {
        padding: 10px;
      }

      .header__find-teacher {
        justify-content: space-between;
      }

      .header__find-teacher__input {
        flex-grow: 1;
      }

      input {
        font-size: 14px;
      }

      button {
        font-size: 14px;
        background-color: white;
      }
    }

    &-menu {
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      &__inner {
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex-grow: 1;
      }

      nav {
        ul {
          display: flex;
          flex-direction: column;
          text-align: left;

          li {
            padding-left: 0;
            float: none;

            a {
              display: block;
              font-size: 28px;

              padding: 5px 0;
            }
          }
        }
      }

      .header__add-teacher-button {
        padding-bottom: 10px;

        button {
          width: 100%;
        }
      }
    }
  }
}