.form {
  &-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include use-media-query(768px) {
      padding: 10px 0;
    }
    
    & > div {

      @include use-media-query(768px) {
        padding: 0 10px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      font-family: 'Source Sans Pro';

      span {
        color: $gray;
        padding-bottom: 5px;
      }
    }

    input,
    select,
    textarea {
      width: 100%;

      padding: 5px 0;
      padding-left: 10px;
    }

    fieldset {
      display: flex;
    }

    input[type="submit"] {
      font-size: 24px;
      padding-left: 0;
    }
  }

  &-col-6 {
    width: 100%;
    padding: 5px 0;

    @include use-media-query(768px) {
      width: 50%;
      padding: 0;
    }
  }

  &-col-12 {
    width: 100%;
    padding: 5px 0;

    @include use-media-query(768px) {
      padding: 0;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
  }
}