.teacher-info__popup {
  display: none;

  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;

  z-index: 120;

  @include use-media-query(768px) {
    top: 15%;
    width: 950px;
  }

  &--active {
    display: block;
  }

  &-inner {
    height: 100%;

    @include use-media-query(768px) {
      border-radius: 5px;
    }
  }

  &-header {
    background-color: $dark-gray;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
    @include use-container(15px);

    @include use-media-query(768px) {
      padding: 10px 0;
      @include use-container(15px);
    }

    h3 {
      font-size: 20px;
      font-family: 'PT Sans';
    }
  }

  &-body {
    background-color: white;
    height: 100%;

    font-family: 'Source Sans Pro';

    @include use-media-query(768px) {
      height: auto
    }

    &__inner {
      @include use-container(10px);

      height: 100%;
      overflow-y: scroll;

      @include use-media-query(768px) {
        height: auto;
        overflow: auto;

        @include use-container(20px);
      }
    }

    &__main {
      display: flex;
      flex-direction: column;

      padding: 15px 0;

      @include use-media-query(768px) {
        padding: 20px 0;
        flex-direction: row;
      }
    }

    &__avatar {
      width: 100%;
      height: 150px;
      
      @include use-media-query(768px) {
        width: 320px;
        height: 320px;
      }
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__bio {
      text-align: left;

      padding-top: 10px;
      
      @include use-media-query(768px) {
        flex-grow: 1;

        padding-top: 0;
        padding-left: 40px;
      }

      &-inner {
        position: relative;
      }

      &-fullname {
        font-weight: 400;
        font-size: 32px;
        
        padding-bottom: 15px;

        @include use-media-query(768px) {
          padding-bottom: 35px;
        }
      }

      &-subject {
        font-weight: 500;
        font-size: 18px;

        padding-bottom: 10px;
      
        @include use-media-query(768px) {
          padding-bottom: 30px;
        }
      }

      &-city {
        padding-bottom: 10px;

        @include use-media-query(768px) {
          padding-bottom: 20px;
        }
      }

      &-years-gender {
        padding-bottom: 10px;

        @include use-media-query(768px) {
          padding-bottom: 20px;
        }
      }

      &-email {
        padding-bottom: 10px;

        @include use-media-query(768px) {
          padding-bottom: 20px;
        }
        
        a {
          text-decoration: none;
          color: rgb(80, 179, 194);

          &:hover {
            text-decoration: none;
          }

          &:active {
            color: rgb(80, 179, 194);
          }
        }
      }

      &-phone {

        a {
          text-decoration: none;
          color: black;

          &:active {
            color: black;
          }
        }
      }
    }

    &__favorite-button {
      position: absolute;
      right: 0;
      top: 0;

      a {
        text-decoration: none;
        color: rgb(236, 236, 2);

        svg {
          width: 32px;
          height: 32px;

          fill: rgb(236, 236, 2);
        }

        .teacher {

          &--is-favorite,
          &--is-not-favorite {
            display: none;
          }

          &--is-favorite--active,
          &--is-not-favorite {
            display: block;
          }
        }
      }
    }

    &__description {
      text-align: left;
      padding-bottom: 15px;
      
      @include use-media-query(768px) {
        padding-bottom: 20px;
      }

      &-text {
        font-size: 14px;
        padding-bottom: 10px;

        @include use-media-query(768px) {
          font-size: 16px;
          padding-bottom: 15px;
        }
      }

      &-map {

        details {

          summary {
            display: block;
            text-decoration: underline dotted;
            text-underline-offset: 4px;
            color: rgb(80, 179, 194);
            cursor: pointer;
          }

          & > div {
            padding-top: 15px;

            iframe {
              width: 100%;
              height: 100%;

              @include use-media-query(768px) {
                height: 250px;
              }
            }
          }
        }
      }
    }
  }

  &-close-button {
    width: 18px;
    height: 18px;

    padding: 0;

    appearance: none;
    border: 0;
    background-color: transparent;

    position: relative;
    
    cursor: pointer;

    span {
      position: absolute;

      display: block;
      content: '';
      
      width: 100%;
      height: 3px;

      background-color: white;

      &:first-child {
        top: 8px;
        transform: rotate(45deg);
      }

      &:last-child {
        bottom: 7px;
        transform: rotate(-45deg);
      }
    }
  }
}